---
import Profile from '@components/widget/Profile.astro'
import Tag from '@components/widget/Tags.astro'
import Categories from '@components/widget/Categories.astro'

const className = Astro.props.class
---
<aside id="sidebar" class:list={[className, "w-full", "hidden md:block onload-animation"]}>
    <div class="flex flex-col w-full gap-4 mb-4">
        <Profile></Profile>
    </div>
    <div class="flex flex-col w-full gap-4 sticky top-4">
        <Categories class="onload-animation" style="animation-delay: 150ms"></Categories>
        <Tag class="onload-animation" style="animation-delay: 200ms"></Tag>
    </div>
</aside>
