---
import Pagination from '@components/molecules/Pagination.astro'
import { getSortedPosts } from '@utils/content-utils'
import { PAGE_SIZE } from '@constants/constants'
import PostPage from '@components/organisms/PostPage.astro'
import type { GetStaticPaths, Page } from 'astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import type { CollectionEntry } from 'astro:content'


type Props = {
  page: Page<CollectionEntry<'posts'>>;
};

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allBlogPosts = await getSortedPosts();
  return paginate(allBlogPosts, { pageSize: PAGE_SIZE })
};

const { page } = Astro.props

const len = page.data.length
---

<BaseLayout>
    <section class="md:min-h-full grid grid-rows-[auto_fit-content(2.75rem)]">
      <PostPage page={page}></PostPage>
      <Pagination class="mx-auto onload-animation" page={page} style=`animation-delay: calc(var(--content-delay) + ${(len)*50}ms)`></Pagination>
    </section>
</BaseLayout>