---
import Markdown from '@components/misc/Markdown.astro'
import BaseLayout from '@layouts/BaseLayout.astro'

interface Props {
  title?: string
  banner?: string
  description?: string
}

let { title, description } = Astro.props

// const aboutPost = await getEntry('spec', 'about')

// const { Content } = await aboutPost.render()
---
<BaseLayout title={title} description={description}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <article data-pagefind-ignore>
                    <slot/>
                </article>
            </Markdown>
        </div>
    </div>
</BaseLayout>